@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Maintainence";
}
<div>
    <h1>
        This is the page where all the details about the <span class="text-warning">Maintainence management of the Society</span> will be displayed.
    </h1>
</div>
