@model AALEKH_SOCIETY_COOP.FixedCharges

@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Fixed-Charges";
}


<ol class="breadcrumb">
    <li class="breadcrumb-item active"><a asp-action="index" asp-controller="Dashboard">Dashboard</a>  </li>
    <li class="breadcrumb-item active">Fixed-Charges</li>
</ol>


<div class="card">
    <div class="card-header">
        Add new Charges.
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="form-group col-md-3">
                            <label asp-for="Type" class="control-label"></label>
                            <input asp-for="Type" class="form-control" />
                            <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="FixedCharge" class="control-label"></label>
                            <input asp-for="FixedCharge" class="form-control" />
                            <span asp-validation-for="FixedCharge" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-3">
                            <label asp-for="Status" class="control-label"></label>
                            <input asp-for="Status" class="form-control" />
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                    </div>
                    <hr />

                    <div class="form-group float-right">
                        <a class="btn btn-sm btn-outline-info" asp-action="Index">Back to List</a> &nbsp;&nbsp;&nbsp;
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

      

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
