@{
    ViewData["Title"] = "Home Page";
}
<div class="align-middle">
<div class="text-center" style="margin-top:10%">
    <img src="./img/logo.png" style="width:500px;height:287px"/>
    <h1 class="display-3">WELCOME TO AALEKH RESIDENCY MANAGEMENT PORTAL</h1>
    <h4></h4>
 @*   <p>Please login to access more fetures.</p>*@<br>
    <a class="btn btn-primary btn-floating" asp-area="Identity" asp-page="/Account/Login">Login</a>
</div>
</div>

