@{
    Layout = "_mainLayout";
    ViewData["Titel"] = "Dashboard";
}

<div class="d-flex justify-content-center">
    <div class="card-body col-md-8 " style="background:white;">
                <center>
                    <table border="1" style="width:60%;">
                        <tr style="text-align:center">
                            <th rowspan=2 colspan=2 >
                                <img src="~/img/logo.png" style="height:100px; width:130px">
                            </th>

                            <td style="text-align:center; padding:7px" rowspan=2>
                                <h4>
                                    AALEKH CO.OPERATIVE HOUSING SERVICE SOCIETY LTD. 
                                </h4>
                                
                                <h6>
                                   Near Chamunda Temple, Zadeshwar Road, Bharuch  -  392011.
                                </h6>
                            </td>
                            <td style="text-align:right ; padding:7px 15px 7px 0px;" rowspan=2>
                                <h6>Reg. Number : SA / 7183</h6>
                                <h6>Date : 4-03-2014</h6>
                            </td>
                        </tr>
                    </table>
                    <table border="1" style="width:60%;text-align:left;border-collapse: separate;border-spacing: 0px 15px;">
                        <tr>
                            <th>

                            </th>
                             <th style="text-align:center;">
                                 <mark style="background-color:black; color:white;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;RECIPT&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</mark>
                            </th>
                             <th style="text-align:right;padding-right:15px;">
                                 Recipt No. : __________________________
                            </th>
                        </tr>
                        <tr>
                            <th style="padding-left:7px;">
                                House no. : __________________________
                            </th>
                            <th>
                                Period : __________________________
                            </th>
                            <th style="text-align:right;padding-right:15px;">
                                Date : __________________________
                            </th>
                        </tr>
                        </table>
                        <table border="1" style="width:60%;text-align:left;">
                            <tr>
                                <td style="word-wrap:break-word;">
                                   Mr. / Mrs. : <span style="min-width:500px;display: inline-block;">......................................................................</span> has paid a sum of Rs. ...................................................................... via Cheque / Online number  .....................  on Date : ................... via Bank  ...................................................................... Branch : ..................... / Cash has been recieved.
                                </td>
                            </tr>
                        </table>
                </center>
    </div>
</div>

