@{
    Layout = "_mainLayout";
    ViewData["Titel"] = "Dashboard";
}

<div>
    <h1>
        This is the page where all the utility details <span class="text-warning">regarding the smooth functioning of the software </span> would be displayed.
    </h1>
</div>
