@{
    Layout = "_mainLayout";
    ViewData["Title"] = "Residents";
}
<div>
    <h1>
        This is the page where all the details about the <span class="text-danger">Residents living in the Society</span> will be displayed.
    </h1>
</div>
